/* Estilos generales */
body {
    background-image: url('./1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Estilos generales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#account-container {
    display: flex;
    align-items: center;
}

#account-icon {
    background-color: white;
    color: #007bff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 10px;
}

#logoutBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#logoutBtn:hover {
    background-color: #c82333;
}

/* Sección del Dashboard */
#menu {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
}

/* Botones */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5), 0 0 20px rgba(0, 86, 179, 0.3);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 86, 179, 0.5), 0 0 20px rgba(0, 86, 179, 0.3);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 86, 179, 0.7), 0 0 30px rgba(0, 86, 179, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 86, 179, 0.5), 0 0 20px rgba(0, 86, 179, 0.3);
    }
}

/* Formularios */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Página de inicio de sesión y registro */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}
